<div id="message-page-layout">
  <div class="header">
    <h1>CPI310 Message Board</h1>
    {{#if user}}<a href="/logout">logout</a>{{/if}}
  </div>

<ul id="message-list" hx-get="/messages" hx-trigger="every 2s">
  {{> messages}}
</ul>

  {{#if user}}
    <form
      class="message-form"
      hx-post="/message"
      hx-target="#message-list"
      hx-swap="innerHTML scroll:bottom"
      hx-on::after-request=" if(event.detail.successful) this.reset()"
    >
      <label>
        <span>Message</span>
        <input autofocus type="text" name="message" />
      </label>
      <button type="submit">send</button>
    </form>
  {{else}}
    <div class="unauthenticated-buttons">
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    </div>
  {{/if}}
</div>