<h1>CPI310 Message Board</h1>
{{#if user}}<a href="/logout">logout</a>{{/if}}

<ul class="message-list">
  {{#each messages}}
    <li>{{author}}: {{message}}</li>
  {{/each}}
</ul>

{{#if user}}
<form class="message-form" action="/message" method="POST">
  <label>Message
    <input type="text" name="message" />
  </label>
  <button type="submit">send</button>
</form>
{{else}}
<a href="/register">Register</a>
<a href="/login">Login</a>
{{/if}}