<h1>CPI310 Message Board</h1>

<ul class="message-list">
  {{#each messages}}
    <li>{{message}}</li>
  {{/each}}
</ul>

<form class="message-form" action="/message" method="POST">
  <label>Message
    <input type="text" name="message" />
  </label>
  <button type="submit">send</button>
</form>