<form class="auth-form" action="/login" method="post">
  <h1>Login</h1>
  <label>
    Username
    <input type="text" name="username" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>
  <button type="submit">login</button>
</form>